<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>C5FEA71E-9257-400A-9A46-8AEC517E323D</string>
			<string>B1D48725-2A57-44A3-984E-BBB6FD8F40D4</string>
		</array>
		<key>submenus</key>
		<dict>
			<key>B1D48725-2A57-44A3-984E-BBB6FD8F40D4</key>
			<dict>
				<key>items</key>
				<array>
					<string>926A0F51-F31F-4040-8A8A-DDFDE7EB0526</string>
				</array>
				<key>name</key>
				<string>SproutCore</string>
			</dict>
		</dict>
	</dict>
	<key>name</key>
	<string>Handlebars</string>
	<key>ordering</key>
	<array>
		<string>70E91676-DE0A-4266-A2B9-3AD2E535E484</string>
		<string>C5FEA71E-9257-400A-9A46-8AEC517E323D</string>
		<string>926A0F51-F31F-4040-8A8A-DDFDE7EB0526</string>
	</array>
	<key>uuid</key>
	<string>F44E0F58-9C25-42F8-9834-6B1DB84F3437</string>
</dict>
</plist>
