<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>C5FEA71E-9257-400A-9A46-8AEC517E323D</string>
			<string>B1D48725-2A57-44A3-984E-BBB6FD8F40D4</string>
		</array>
		<key>submenus</key>
		<dict>
			<key>B1D48725-2A57-44A3-984E-BBB6FD8F40D4</key>
			<dict>
				<key>items</key>
				<array>
					<string>926A0F51-F31F-4040-8A8A-DDFDE7EB0526</string>
				</array>
				<key>name</key>
				<string>SproutCore</string>
			</dict>
		</dict>
	</dict>
	<key>name</key>
	<string>Handlebars</string>
	<key>ordering</key>
	<array>
		<string>70E91676-DE0A-4266-A2B9-3AD2E535E484</string>
		<string>C5FEA71E-9257-400A-9A46-8AEC517E323D</string>
		<string>D9535EE0-FB54-4D09-A5B6-CA701E970828</string>
		<string>926A0F51-F31F-4040-8A8A-DDFDE7EB0526</string>
		<string>801659B5-0B17-4CC1-8C21-381E7187F2B1</string>
		<string>261FDCFB-58F6-47E8-8950-FA40E5D12794</string>
		<string>48181458-BD5C-4017-A52B-CCC8143CA4FA</string>
		<string>57C98454-70A9-4486-9C29-CFBB894DC5A3</string>
	</array>
	<key>uuid</key>
	<string>F44E0F58-9C25-42F8-9834-6B1DB84F3437</string>
</dict>
</plist>
